.filterSection {
  width: 350px;
  box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
  height: 80%;
  overflow-y: scroll;
  margin-right: 100px;
  margin-left: 50px;
  margin-top: 40px;
  overflow-x: hidden;
}
.eachfilter {
  display: flex;
  font-weight: bold;
}
.filters {
  margin-left: 50px;
}
.filterHeading {
  padding-left: 30px;
  background-color: #eff2f5;
  height: 35px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
@media (max-width: 768px) {
  .filterSection {
    width: 80%;
    height: 100%;
    margin: auto;
    margin-top: 10px;
  }
}