.bodyContainer {
  display: flex;
  height: 85%;
}
.caardsContainer {
  width: 90%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* justify-content: space-around; */
  overflow-y: scroll;
  overflow-x: hidden;
  margin-top: 20px;
}
@media (max-width: 768px) {
  .bodyContainer {
    
  }
  .caardsContainer{
    width: 100%;
    justify-content: center;
    margin-top: 10px;
  }
}
